<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.5;
      }

      .container {
        position: relative;
        margin: 20px auto;
        padding: 20px;
        padding-top: 50px;
      }

      .img {
        position: absolute;
        top: -20px;
        left: 10px;
      }

      .img img {
        width: 150px;
        height: auto;
      }

      .top {
        position: relative;
      }

      .header {
        text-align: center;
        margin-bottom: 20px;
        font-size: 22px;
      }

      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .content {
        margin-bottom: 20px;
      }

      .info {
        margin-bottom: 10px;
      }

      .info label {
        font-weight: bold;
      }

      .alig {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
      }

      .footer {
        text-align: right;
      }

      .footer .signature {
        display: inline-block;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-bottom: 90px;
      }

      .footer2 .signature2 {
        display: inline-block;
        border-top: 1px solid #ccc;
        padding-top: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="img">
        <img src="/images/cnss_logo.png" alt="cnss_logo" width="150" />
      </div>
      <div class="info">
        <label>MAT :XD00254. مطلب تسجيل</label>
      </div>
      <div class="info header">
        <label>DEMANDE D’IMMATRICULATION</label>
      </div>
      <div class="info">
        <label>Etudiant Stagiaire Diplômé طالب متربص حامل شهادة</label>
      </div>
      <div class="alig">
        <div class="info">
          <label>Nom de famille:</label> <%= data && data.nom_F %>
        </div>
        <div class="info">
          <label>Prénom:</label> <%= data && data.prenom_E %>
        </div>
      </div>
      <div class="alig">
        <div class="info">
          <label>Prénom du père:</label> <%= data && data.prenom_p %>
        </div>
        <div class="info">
          <label>Prénom du grand-père:</label> <%= data && data.prenom_gp %>
        </div>
      </div>
      <div class="alig">
        <div class="info">
          <label>Nom de la mère:</label> <%= data && data.nom_M %>
        </div>
        <div class="info">
          <label>Prénom de la mère:</label> <%= data && data.prenom_m %>
        </div>
      </div>
      <div class="info"><label>Sexe:</label> <%= data && data.sexe %></div>
      <div class="info">
        <label>Nationalité:</label> <%= data && data.nationalite %>
      </div>
      <div class="alig">
        <div class="info">
          <label>Date de naissance:</label> <%= data && data.date_naiss %>
        </div>
        <div class="info">
          <label>Lieu:</label> <%= data && data.lieu_naiss %>
        </div>
      </div>
      <div class="info">
        <label>Etat civil (célibataire, marié, divorcé ou veuf):</label> <%=
        data && data.etat_civil %>
      </div>
      <div class="alig">
        <div class="info">
          <label>Pièce d'identité N°:</label> <%= data && data.cin %>
        </div>
        <div class="info">
          <label>Type:</label> carte d'identité nationale délivrée à Tunis le
          <%= data && data.date_delivre %>
        </div>
      </div>
      <div class="alig">
        <div class="info">
          <label>Acte de naissance - Gouvernorat:</label> <%= data &&
          data.gouvernorat %>
        </div>
        <div class="info">
          <label>Municipalité:</label> <%= data && data.municipalite %>
        </div>
      </div>
      <div class="alig">
        <div class="info">
          <label>Arrondissement:</label> <%= data && data.arrond %>
        </div>
        <div class="info"><label>Année:</label> <%= data && data.annee %></div>
        <div class="info"><label>Numéro:</label> <%= data && data.num %></div>
      </div>
      <div class="info">
        <label>Adresse du domicile:</label> <%= data && data.adr %>
      </div>
      <div class="alig">
        <div class="info">
          <label>Appt n°:</label> <%= data && data.appt_num %>
        </div>
        <div class="info">
          <label>Imm n°:</label> <%= data && data.imm_num %>
        </div>
        <div class="info"><label>Cité:</label> <%= data && data.cite %></div>
      </div>
      <div class="alig">
        <div class="info">
          <label>Localité:</label> <%= data && data.localite %>
        </div>
        <div class="info">
          <label>Code Postal:</label> <%= data && data.c_p %>
        </div>
      </div>
      <div class="info">
        <label
          >Je sousssigné(e). <%= data && data.nom_F %> <%= data && data.prenom_E
          %> اني الممضي(ة) اسفله</label
        >
      </div>
      <div class="info">
        <label>اصرح على شرفي بصدق و صحة الارشادات المذكورة اعلاه</label>
      </div>
      <div class="info">
        <label
          >déclare sur l’honneur que les renseignements ci-dessus sont sincères
          et exacts, واطلب تسجيلي بنظام الضمان الاجتماعي للطلبة بصفتي</label
        >
      </div>
      <div class="info">
        <label
          >demande mon immatriculation au régime de sécurité sociale des طالبا
          او متربصا او حامل شهادة</label
        >
      </div>
      <div class="info">
        <label
          >étudiants en qualité de (étudiant, stagiaire ou diplômé) : و التزم
          بإعلام الصندوق الوطني بكل تغيير يطرا على حالتي</label
        >
      </div>
      <div class="info">
        <label
          >et m’engage à informer la Caisse Nationale de tout العائلية او
          المهنية</label
        >
      </div>
      <div class="info">
        <label>changement de ma situation familiale ou professionnelle.</label>
      </div>

      <div class="info"><label>Fait à Jendouba le: </label><%= date %></div>

      <div class="info">
        <label>Signature الإمضاء</label>
      </div>
    </div>
  </body>
</html>
